<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springsecurity7userrole.mapper.SysUserMapper">

<!--    定义列和属性的对应关系-->
    <resultMap id="userMapper" type="com.example.springsecurity7userrole.pojo.SysUser">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="realname" property="realname"/>
        <result column="isenable" property="isEnable"/>
        <result column="islock" property="isLocked"/>
        <result column="iscredentials" property="isCredentials"/>
        <result column="logintime" property="loginTime"/>
        <result column="createtime" property="createTime"/>
        <result column="isexpire" property="isExpired"/>
    </resultMap>

    <insert id="insertSysUser">
        insert into sys_user(username,password,realname,isenable,
        islock,iscredentials,logintime,createtime)
        values(#{username},#{password},#{realname},#{isEnable},#{isLocked},#{isCredentials},#{loginTime},#{createTime})
    </insert>

    <select id="selectSysUser" resultMap="userMapper">
        select id,username,password,realname,isenable,
        islock,iscredentials,logintime,createtime,isexpire
        from sys_user where username=#{username}
    </select>
</mapper>